<div class="row">
    <div class="col-lg-12 text-center">
        <p>Copyright &copy; <a href="http://github.com/VentanaIoT/">Ventana IoT</a> </p>
    </div>
</div>

 <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
                // iOS web app full screen hacks.
                if(window.navigator.standalone == true) {
                        // make all link remain in web app mode.
                        $('a').click(function() {
                                window.location = $(this).attr('href');
                    return false;
                        });
                }
        });
    </script>
