<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <% include ../partials/nav %>

    <main>
        <!-- Page Content -->
        <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Device List
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <% devices.forEach(function(device) { %>

            <div class="row">
                <div class="col-xs-3 vcenter">
                    <img class="img-responsive" src="<%= device.vendor_logo %>" height="400" alt="">
                </div>
                <div class="col-xs-5 text-center vcenter">
                    <h3> <%= device.device_id %> </h3>
                    <h4> <%= device.device_type %> </h4>  
                </div>
                <div class="col-xs-3 vcenter" style="padding-top: 30px;">
                    <a class="btn btn-primary" href="http://localhost:8081/targets/<%= device._id %>.png"> Open VuMark <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
            <!-- /.row -->

            <hr>
        
        <% }); %>



        <!-- Project One -->

        <!-- Project Two -->
        <div class="row">
            <div class="col-xs-3 vcenter">
                <img class="img-responsive" src="https://www.winkapp.com/assets/mediakit/wink-logo-icon-knockout-50235153b274cdf35ef39fb780448596.png" height="400" alt="">
            </div>
            <div class="col-xs-5 text-center vcenter">
                <h3>Cosmo</h3>
                <h4>Wink Light Bulb</h4>
                
            </div>
            <div class="col-xs-3 vcenter" style="padding-top: 30px;">
                <a class="btn btn-primary" src="#"> Open VuMark <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->


        <hr>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
</body>
</html>